<div class="row justify-content-center align-items-center h-100">
    <div class="col-10">
        <h5>Participantes do Programa</h5>
        <div class="card">            
            <div class="card-body">                
                <table class="table table-borderless table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col"></th>
                            <th scope="col">NOME</th>
                            <th scope="col">INDICAÇÕES</th>
                            <th scope="col">MILESTONES</th>
                            <th scope="col">CLIQUES/COMP.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr scope="row" *ngFor="let participante of participantes; let i = index" (click)="PreencheDadoPopover(i)" 
                            [popoverOnHover]="false" [popover]="detalhesPopover" popoverPlacement="right">
                            <td class="align-middle id-participante">{{i}}</td>
                            <td class="align-middle"><img src="{{participante.customer_picture}}"></td>
                            <td class="align-middle">                                    
                                {{participante.customer_name}}
                                <br/>  
                                <span class="data-participante">{{participante.created_at | date:"dd/MM/yyyy HH:mm":"UTC"}}</span>                                                                  
                            </td>
                            <td class="align-middle"><h4><span class="badge alert-success">{{participante.referral_confirmed}}/{{participante.referral_pending}}</span></h4></td>
                            <td class="align-middle"><h4><span class="badge alert-info">{{participante.reward_redeemed}}/{{participante.reward_pending}}</span></h4></td>
                            <td class="align-middle"><h4><span class="badge alert-warning">{{participante.total_link_click}}/{{participante.total_shares}}</span></h4></td>
                        </tr>
                    </tbody>
                </table>

                <popover-content #detalhesPopover   
                    placement = "auto"                              
                    [closeOnClickOutside]="true"
                    [closeOnMouseOutside]="false">        
                    
                    <div *ngIf="participante == null; then popoverVazio else popoverPreenchido"></div> 

                    <ng-template #popoverVazio>
                        Não há dados para mostrar
                    </ng-template>

                    <ng-template #popoverPreenchido>
                        <div class="conteudo-popover">
                            <div class="row nome-participante">
                                <div class="col-2">
                                    <img src="{{participante.customer_picture}}">
                                </div>
                                <div class="col-10">
                                    {{participante.customer_name}} - #{{idParticipante}}
                                    <br/>
                                    <span class="data-participante-popover">Participa desde {{participante.created_at | date:"dd/MM/yyyy HH:mm":"UTC"}}</span>
                                </div>
                            </div>

                            <div class="row justify-content-center align-items-center">
                                <div class="col-11 badge alert-success dados-indicacoes">
                                    <h6>Indicações</h6>                                
                                    {{participante.referral_confirmed}} confirmadas e {{participante.referral_pending}} pendentes
                                </div>
                            </div>

                            <div class="row justify-content-center align-items-center">
                                <div class="col-11 badge alert-info dados-milestones">
                                    <h6>Milestones</h6>                    
                                    {{participante.reward_redeemed}} obtidos e {{participante.reward_pending}} alcançados
                                </div> 
                            </div>

                            <div class="row justify-content-center align-items-center">
                                <div class="col-11 badge alert-warning dados-link">
                                    <h6>Dados do Link</h6>
                                    {{participante.total_link_click}} compartilhamentos e {{participante.total_shares}} cliques
                                </div>
                            </div>

                            <div class="row justify-content-center align-items-center">
                                <div class="col-12 text-right">
                                    <a href="#" class="text-decoration-none">Ver mais informações</a>
                                </div>
                            </div>

                        </div>
                    </ng-template>
                                        
                </popover-content>
            </div>
        </div>     
    </div>
</div>
