@import '../../../scss/variables'; 

h5{
    font-weight: bold;
}

.card-body{    
    .table{
        thead, .id-participante, .data-participante{
            color: $fonte-cinza;
            tr{
                th{
                    font-weight: 500;
                }                
            }            
        } 
        
        tbody{
            tr{
                td{
                    .badge{
                        padding: 10px 15px;
                        font-weight: normal;
                    }
                }
            }

            tr:hover{
                cursor: pointer;                
            }
        }   
    }      
    
    ::ng-deep {        
        .popover, .popover-inner {
            width: 350px !important;
            max-width: 350px !important;
        }  

        .bs-popover-top .arrow, 
        .bs-popover-bottom .arrow {
            margin-left: 160px;
        }

        .bs-popover-left .arrow,
        .bs-popover-right .arrow {
            margin-top: 137px;
        }
    }
}



