<div class="conteudo-popover">
    
    <div class="row nome-participante">
        <div class="col-2">
            <img src="{{participante.customer_picture}}">
        </div>
        <div class="col-10">
            {{participante.customer_name}} - #{{idParticipante}}
            <br/>
            <span class="data-participante-popover">Participa desde {{participante.created_at | date:"dd/MM/yyyy HH:mm":"UTC"}}</span>
        </div>
    </div>

    <div class="row justify-content-center align-items-center">
        <div class="col-11 badge alert-success text-left dados-indicacoes">
            <h6>Indicações</h6>                                
            {{participante.referral_confirmed}} confirmadas e {{participante.referral_pending}} pendentes
        </div>
    </div>

    <div class="row justify-content-center align-items-center">
        <div class="col-11 badge alert-info text-left dados-milestones">
            <h6>Milestones</h6>                    
            {{participante.reward_redeemed}} obtidos e {{participante.reward_pending}} alcançados
        </div> 
    </div>

    <div class="row justify-content-center align-items-center">
        <div class="col-11 badge alert-warning text-left dados-link">
            <h6>Dados do Link</h6>
            {{participante.total_link_click}} compartilhamentos e {{participante.total_shares}} cliques
        </div>
    </div>

    <div class="row justify-content-center align-items-center">
        <div class="col-12 text-right">
            <a href="#" class="text-decoration-none">Ver mais informações</a>
        </div>
    </div>

</div>
